.welcome{
    background:url(https://i.ytimg.com/vi/F3BrKOi18lE/maxresdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100%;
}
.con{
    justify-content: center;
    text-align: center;
    color:rgb(241, 16, 16);
}
