.ba{
  background:url("https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100%;
    color:orange;
}
.ht{
  background-color:#FFFF00;
}