.ba{
  background:url("https://2.bp.blogspot.com/-Y-M9VkJliMQ/WrKkPIRmAsI/AAAAAAAAGg4/eOUrZ8bs3qEuzcfoUwNxLItr6I-57ikEwCLcBGAs/s1600/Jamboard_screensaver_ticker_800.gif");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100%;
    color:rgb(223, 41, 71);
}