.I{
    background:url(https://i.ytimg.com/vi/F3BrKOi18lE/maxresdefault.jpg);
   
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    color:red;
}
.I.one{
    height:200vh;
    width:100%;
}
.two{
    background:url(https://i.ytimg.com/vi/F3BrKOi18lE/maxresdefault.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;
}
.high{
        background-color:#FFFF00; 
}
.highlighty{
    background-color:orangered;
}
